<div class="list-component mat-elevation-z2">

  <div class="mat-elevation-z8">

    <mat-form-field class="search-area">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-paginator
      ([pageSize])="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons></mat-paginator>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="brand-image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
        <td mat-cell *matCellDef="let productList"> <img class="brand-image" src='/assets/images/{{productList["brand-image"]}}' /><span class="brand-name">{{productList.brand}}</span></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name. </th>
        <td mat-cell *matCellDef="let productList">{{productList.name | removeUnwantedCharactersPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="kind">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kind. </th>
        <td mat-cell *matCellDef="let productList"> {{productList.kind}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let productList"> {{productList.price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</div>
