table {
  width: 100%;
}

@media (max-width: 420px) {
  .cdk-column-id {
    display: none;
  }
  .cdk-column-brand-image {
    padding-left: 10px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    margin: 0 15px !important; /* quick temp hack - do no use long term */
  }
}

.mat-sort-header-pointer-left,
.mat-sort-header-pointer-right {
  background: green;
}

/*
.cdk-column-price {
  text-align: right;
  .mat-sort-header-container {
    text-align: right;
  }
}
*/


td {
  &.cdk-column-name {
    font-size: 1.1rem;
    color: #928e8e;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    max-height: 75px;
  }
}

.list-component {
  margin-bottom: 50px;
}

.mat-form-field {
  font-size: 14px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  margin: 30px 15px 0 15px !important;
}

th.mat-sort-header-sorted {
  color: black;
}

.brand-image {
  max-width: 40px;
  margin-top: 5px;
}

.brand-name {
  display: block;
  color: #928e8e;
  max-width: 40px;
  font-size: 0.6rem;
  text-align: center;
  margin-bottom: 5px;
}
