.container {
  box-sizing: content-box;
}


@media(min-width: 420px) {
  .container {
    padding: 10px;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .logo-brand {
    font-size: 1.7rem;
    padding: 25px 0 0 25px;
    text-indent: -500px;
    background: url("../assets/images/mark-webley-brand-insurance.jpg") no-repeat center center;
  }
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: center;
  position: fixed;
  div {
    padding: 15px;
  }
}

header, footer {
  display: block;
  z-index: 5;
   min-height: 55px;
  background: green;
  color: #fff;
}
